* {
  box-sizing: border-box;
}
html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  word-wrap: break-word;
}
.mainGrid {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 80%;
}
.page {
  height: 100%;
  position: absolute;
  width: 80%;
  background-color: #ece5dd;
}

/* Contacts List */
.contactList {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #128c7e;
  align-content: center;
  align-items: center;
  text-align: center;
}
.contact {
  padding: 8px;
  background-color: #128c7e;
  position: relative;
  text-align: left;
  cursor: pointer;
  transition-duration: 800ms;
}
.activeContact {
  background-color: #fff;
}
.newMessageContact {
  background-color: orange;
}
.contact:hover {
  background-color: #51bdb0;
}
.contactImage {
  position: relative;
  width: 25%;
  border-radius: 50%;
}
.contactName {
  position: absolute;
  margin: 0 0 0 0.5em;
  display: inline;
  top: 50%;
  transform: translateY(-50%);
}

/* Login Page */
.login.page {
  background-color: #fff;
}
.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}
.login.page .form .usernameInput, .login.page .passwordInput, .estadoInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #128c7e;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}
.login.page .title {
  font-size: 200%;
}
.login.page .usernameInput, .login.page .passwordInput, .estadoInput {
  font-size: 200%;
  letter-spacing: 3px;
}
.login.page .title, .login.page .usernameInput, .login.page .passwordInput, .estadoInput {
  color: #000;
  font-weight: 100;
}
/* Chat page */
.chat.page {
  display: none;
}

/* Settings Page */
.settings.page {
  display: none;
}

/* Video Page */
.video.page {
  display: none;
}

/* Font */
.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.message {
  border-color: #128c7e;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}